<div class="wrapper-breweries">
  <% if @brewery %>

  <!-- Show the brewery if there is a brewery selected -->
  <div class="breweries-closest">
    <div class="text-center">

      <!-- Differ text depending on brewery found nearby or by clicking the link -->
      <% if @zipcode %>
      The closest brewery to <%= @zipcode %> is..
      <% end %>
      <br> <h2><%= @brewery.name %></h2>
    </div>
    <div class="brewery-info">

      <div id="brewery-map">

      </div>
      <div class="brewery-rest">
        <!-- Show their beers if there are any in de database -->
        <% if @beers.length > 0 %>
        They serve:
        <div class="brewery-beers">
          <% @beers.each do |beer|  %>
          <div class="brewery-beer-card">
            <!-- <img src="http://cliparts.co/cliparts/piq/KBx/piqKBxbrT.png" alt="beer" width="60px"> <br> -->
            <%= beer.name %> <br>
            <%= beer.style %>,
            <%= beer.alcohol %>% <br>
            keg: <%= beer.volume %> l, <%= beer.keg %>
          </div>

          <% end %>
        </div>
        <% else %>
        No beers in our database! <br>I'm afraid you'll just have to go there to see which beers they have! <br><br>
        <img src="https://media.giphy.com/media/ZzN0sVmiYGRB6/giphy.gif" alt="beer me">
        <br><br>
        <% end %>

        Address: <%= @brewery.address %>,
        <%= @brewery.zipcode %>,
        <%= @brewery.city %> <br>

        <% if @brewery.open_today  %>
        <div class="label label-success">OPEN</div>
        <% else %>
        <div class="label label-danger">CLOSED</div>
        <% end %>

        <br>
        Open on: <% JSON.parse(@brewery.open).each do |day| %>
        <%= day %>
        <% end %>

      </div>
    </div>
  </div>


  <!-- If there is no brewery selected show form to put in postal code -->

  <% else %>

  <!-- When no location was sound show message -->
  <% if @zipcode %>
  <div class="breweries-message">Oh no! There are no close breweries to <%= @zipcode %>. Please try again. </div>
  <% end %>

  <!-- ask for zipcode -->
  <div class="breweries-find">
    <div class="form">
      <%= form_tag brewers_path, method: "get"  do %>
      <%= text_field_tag "zipcode", nil, pattern: '\d{4}\s?[a-zA-Z]{2}', :placeholder => "fill in your zipcode", class: "input-postcode", autocomplete: "off", title: "e.g. 1234AZ" %>
      <%= submit_tag "find beer", class: "btn-beer" %>
      <% end %>
    </div>
  </div>
  <% end %>

  <!-- After show of one brewery or option to search for a brewery show all breweries -->
  <div class="breweries-all">
    <h2>Other breweries</h2>
    <% @breweries.each do |brewery| %>
    <div class="breweries-name">
      <%= brewery.name %>, <%= brewery.city %>
    </div>
    <div class="breweries-click">
      <!-- Show if brewery is open today or closed -->
      <div class="open">
        <% if brewery.open_today  %>
        <div class="label label-success">OPEN</div>
        <% else %>
        <div class="label label-danger">CLOSED</div>
        <% end %>
      </div>
      <!-- Show brewery -->
      <%= link_to "SHOW", brewers_path(brewery: brewery), class: "label label-warning" %>
    </div><br>
    <% end %>

    <br> <br>
    <%= link_to "search another brewery", brewers_path, class: "btn-biertje"  %>
    <br><br>
  </div>
</div>


<!-- Code to show te location of brewery on a map -->
<% if @brewery %>

<% content_for(:after_js) do %>
<script type="text/javascript">
  $(document).on('ready', function() {
    var myLatLng = {lat: <%= @brewery.latitude %>, lng: <%= @brewery.longitude %>};

    var map = new google.maps.Map(document.getElementById('brewery-map'), {
      zoom: 15,
      center: myLatLng,
      draggable: true,
      scrollwheel: false,
      mapTypeControl: false,
      styles: window.mapStyle
    });

    // keeps marker in center
    // map.addListener('idle', function(map){
    //   this.setCenter(marker.getPosition());
    // });

    var marker = new google.maps.Marker({
      position: myLatLng,
      map: map,
      animation: google.maps.Animation.DROP,
      icon: "http://emoji.fileformat.info/gemoji/beer.png"
    });



  })
</script>
<% end %>


<% end %>
